body {
  background-color: #f7f7f7;
}

.text-thin {
  font-weight: 300;
}

.popup, .picker {
  & > .header > .button {
    flex: 0;
    font-size: 16px;
    &:after {
      content: none;
    }
  }
}

// 取消折叠: margin collapse
section.content {
  &:before, &:after {
    content: ' ';
    display: table;
  }
}
